@import url("blueprint/screen.css") screen, projection;
@import url("blueprint/vroy.ca.css") screen, projection;
@import url("cssbuttons/buttons.css");

/* Style goes here */
#body h1 { font-size: 24px; }
#body h2 { font-size: 18px; }
#body h3 { font-size: 16px; }

pre {
  border: 1px solid grey;
  background-color: #eee;
  margin-left: 20px;
}

p code {
  border: 1px solid grey;
  background-color: #eee;
}
